.input {
    border: 0;
    border-bottom: 1px solid var(--main-color);
    margin-top: 8px;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    color: var(--head-color);

    &:focus-visible {
        outline: 0;
        border-bottom-width: 2px;
    }
}
