<form action="" method="post" class="login-form">
    <div class="login-form__inputs">
        {{> input/input id="login" inputName="login" inputType="text" title="Имя" required=true }}
        {{> input/input id="password" inputName="password" inputType="password" title="Пароль" required=true }}
    </div>
    <div class="login-form__buttons">
        {{> button/button name="Вход" id="login-btn" mixin="btn--prime"}}
        <a href="../../pages/signin/signin.hbs" class="login-form__link">Нет аккаунта?</a>
    </div>
</form>