.btn {
    width: 100%;
    border-radius: 8px;
    padding: 12px 0;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    color: var(--main-color);
    background: var(--white-color);
    border: 0;
    cursor: pointer;

    &--prime {
        color: var(--white-color);
        background-color: var(--main-color);
    }
}