<form action="" class="delete-user-form">
    {{> input/input id="delete-user" title="Логин" type="text" name="delete-user" }}
    {{> button/button id="delete-user-btn" mixin="btn--prime" name="Удалить" type="submit" }}
</form>
