:root {
    --white-color: #ffffff;
    --main-color: #3369F3;
    --head-color: #1E1E1E;
    --gray-color: #999999;
    --bg-color: #EFEFEF;
    --bg-chat-list: #FBFBFB;
    --border-color: #EAEAEA;
}