<form action="" class="add-user-form">
    {{> input/input id="add-user" title="Логин" type="text" name="add-user" }}
    {{> button/button id="add_user-btn" mixin="btn--prime" name="Добавить" }}
</form>