<form action="" method="post" class="signin-form">
    <div class="signin-form__inputs">
        {{> input/input id="email" inputName="email" inputType="email" title="Почта" }}
        {{> input/input id="login" inputName="login" inputType="text" title="Логин" }}
        {{> input/input id="first_name" inputName="first_name" inputType="text" title="Имя" }}
        {{> input/input id="second_name" inputName="second_name" inputType="text" title="Фамилия" }}
        {{> input/input id="phone" inputName="phone" inputType="tel" title="Телефон" }}
        {{> input/input id="password" inputName="password" inputType="password" title="Пароль" }}
        {{> input/input id="password-repeat" inputName="password-repeat" inputType="password" title="Пароль (еще раз)" }}
    </div>
    <div class="signin-form__buttons">
        {{> button/button name="Зарегистрироваться" id="registration-btn" mixin="btn--prime"}}
        <a href="../../pages/login/login.hbs" class="login-form__link">Войти</a>
    </div>
</form>