<section class="profile">
    <aside class="profile__return">
        {{> arrow-button/arrow-button id="profile-return" prev=true }}
    </aside>
    <main class="container profile__content">
        <div class="profile__photo-wrapper mb-5">
            <img src="../../images/profile-no-photo.svg" alt="" class="profile__photo">
        </div>
        <form action="" class="profile__info-wrapper">
            <div class="profile__settings">
                {{> input/input id="oldPassword" inputType="password" title="Старый пароль" inputName="oldPassword" required=true }}
                {{> input/input id="newPassword" inputType="password" title="Новый пароль" inputName="newPassword" required=true }}
                {{> input/input id="repeatPassword" inputType="password" title="Повторите новый пароль" inputName="repeatPassword" required=true }}
            </div>
            {{> button/button id="save-pass" mixin="btn--prime" name="Сохранить" }}
        </form>
    </main>
</section>