.photo-wrapper {
    position: relative;
    width: 130px;
    height: 130px;
    display: block;
    border-radius: 100%;
    &__hover {
        position: absolute;
        width: 130px;
        height: 130px;
        background-color: rgba(0,0,0,0.2);
        display: none;
        align-items: center;
        top: 0;
        left: 0;
        color: var(--white-color);
        border-radius: 100%;
        text-align: center;
    }
    &:hover > &__hover {
        display: flex;
    }
}
