.arrow-button {
    background-color: transparent;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    border: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-color {
    background-color: var(--main-color);
}
