.arrow-button {
    background-color: var(--main-color);
    width: 28px;
    height: 28px;
    border-radius: 100%;
    border: unset;
    cursor: pointer;

    &__arrow {
        &--prev {
            transform: rotate(180deg);
        }
    }
}