.error {
    display: flex;
    flex-direction: column;

    &__title {
        font-weight: 500;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        color: var(--head-color);
    }

    &__text {
        @inherit &__title;
        font-size: 20px;
        line-height: 20px;
    }
}