<section class="container error">
    <div class="error__title mb-5">{{ errorCode }}</div>
    <div class="error__text mb-16">{{ errorText }}</div>
    <a href="../../pages/chat/chat.hbs">Назад к чатам</a>
</section>