.chat-list {
    &__search-input {
        width: 100%;
        background: var(--bg-color);
        border-radius: 5px;
        border: unset;
        text-align: center;
        padding: 10px 0;
    }
    &__add-chat-form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 8px;
    }
    &__input-label {
        font-size: 14px;
    }
    &__input {
        width: 100%;
    }
}
